html {
  font-family: var(--font-main);
  font-size: 16px;
  scroll-behavior: smooth;

  background-color: var(--bg-screen-white);
  color: var(--color-text-dark);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  // Tablet / small laptop
  @media (max-width: 1024px) {
    max-width: 992px;
  }

  // Big phone / tablet portrait
  @media (max-width: 768px) {
    max-width: 736px;
  }

  // Small phone
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.img-wrapper {
  padding: 0.5rem;
}

.btn {
  font-family: inherit;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--color-green-100);
  color: var(--color-text-white);

  &:hover {
    background-color: var(--color-green-200);
    color: var(--color-text-white);
  }
}

#btnMenu {
  display: none;

  @media (max-width: 480px) {
    display: inline;
  }
}
