:root {
  --bg-screen-dark: #181920;
  --bg-screen-white: #f6f5f1;

  --bg-dark: #22222c;

  --color-green-100: #135e4b;
  --color-green-200: #4cb572;
  --color-green-300: #a1d8b5;
  --color-green-400: #ccdcdb;

  --color-hover: #ffad79;
  --color-muted: #a3a3a3;

  --color-text-white: #ffffff;
  --color-text-dark: #101010;

  --font-main: "Outfit", sans-serif;
}
