.header {
  margin-bottom: clamp(1rem, 7vw, 6.25rem);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid var(--color-muted);
    position: relative;
  }
  &__logo {
    &__link {
      font-weight: 700;

      i {
        color: var(--color-green-200);
        font-size: 2rem;
      }

      span {
        font-size: 1.5rem;
        color: var(--color-text-dark);
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &__link {
    font-size: 1.25rem;
    color: var(--color-text-dark);

    &.active {
      border-bottom: 3px solid var(--color-hover);
    }
  }
}

@media (max-width: 480px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
    left: 0;

    padding: 0 3rem;
    background-color: var(--color-green-100);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;

    transition: opacity 1s ease, transform 1s ease;
  }

  .nav__list.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav__link {
    font-size: 1.75rem;
    color: var(--color-text-white);
  }
}
