.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__wrapper {
    background-color: #fff;
    height: 650px;
    border-radius: 1rem;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1rem;
    &-image {
      width: 100%;
      height: 600px;
      object-fit: cover;
      border-radius: 1rem;
    }
    &-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;

      button {
        width: 100%;
        align-self: flex-end;
      }
    }
    &-title {
      margin-bottom: 0.5rem;
      color: var(--color-green-100);
    }

    &-cuisine {
      margin-bottom: 1rem;
      font-weight: 400;
    }

    &-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-bottom: 1rem;

      li {
        font-size: 1.25rem;

        i {
          color: var(--color-green-100);
        }
      }
    }
    &-ingridients {
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
    &-instructions {
      font-size: 1.25rem;
    }
  }
}
