.aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  height: 100vh;
  border-right: 1px solid var(--color-muted);
  padding: 0 1rem;

  &__logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;

    a {
      color: var(--color-secondary);
      font-weight: 700;
      font-size: 1.5rem;
    }

    span {
      color: var(--color-text);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__tags {
    h3 {
      color: var(--color-muted);
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        button {
          width: 100%;
        }
      }
    }
  }
}
